.main-content {
  background-color: #f8f9fa;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}

[data-bs-theme="dark"] .main-content {
  background-color: #030303;
}

/* Solo en escritorio */
@media (min-width: 992px) {
  .main-content {
    margin-left: 260px;
  }
}
